@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400;600&display=swap');

*{margin: 0; padding: 0;}

.area{
    font-family: 'Sarabun', sans-serif;
    font-size: 115%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12vh 4vh 55vh 50vh 25vh 7vh 18vh 30vh;
}

header{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 11;
    text-align: right;
}

#logo{
    margin-right: 23%;
    margin-top: 1%;
}

nav{
    display: inline;
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    text-align: center;
    padding-top: 3%;
}

#pesquisa{
    padding: 7px;
}

main{
    grid-column-start: 2;
    grid-column-end: 9;
    background-image: url(image-destaque.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid rgb(144, 144, 144);
    margin-top: 4%;
    box-shadow: inset 0px -20px 20px 0px black;
    padding-top: 35%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 250%;
    text-align: justify;
    cursor: pointer;
}

div{ display: inline-block; }

#a0{
    grid-column-start: 2;
    grid-column-end: 5;
    border: 1px solid rgb(144, 144, 144);
    margin-top: 15%;
    font-size: 190%;
    padding-top: 70%;
    box-shadow: inset 0px -20px 20px 0px black;
    background-image: url(CULTURA/folia-das-almas.jpg);
    background-size: 620px;
    background-repeat: no-repeat;
    text-align: start;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

#a1{
    grid-column-start: 5;
    grid-column-end: 9;
    border: 1px solid rgb(144, 144, 144);
    margin-top: 11%;
    margin-left: 4%;
    font-size: 1.8em;
    box-shadow: inset 0px -20px 20px 0px black;
    background-image: url(raulzinho.jpeg);
    background-size: 620px;
    background-repeat: no-repeat;
    background-position: top;
    text-align: start;
    padding-top: 58%;
    padding-left: 2%;
    cursor: pointer;
}

#a3{
    grid-column-start: 2;
    grid-column-end: 7;
    border: 1px solid rgb(144, 144, 144);
    margin-top: 3%;
    font-size: 1.6em;
    box-shadow: inset 0px -20px 20px 0px black;
    background-image: url(musica-3.jpg);
    background-size: 720px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: start;
    padding-top: 23%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

#a4{
    grid-column-start: 7;
    grid-column-end: 9;
    border: 1px solid rgb(144, 144, 144);
    background-image: url(eSPORTS/TG-ARENA2-728x546.jpeg);
    background-size: 300px;
    background-repeat: no-repeat;
    margin-top: 7%;
    margin-left: 7%;
    font-size: 1.5em;
    box-shadow: inset 0px -20px 20px 0px black;
    text-align: start;
    padding-top: 42%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

#blank{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid white;
}

#clima{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 9;
    border: 1px solid steelblue;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.text{
    width: 30%;
    height: 15vh;
    text-align: center;
    padding-top: 10%;
}

#nublado{
    cursor: pointer;
    width: 200px;
}

#cidade{
    font-size: 100%;
    cursor: pointer;
    color: white;
}

footer{
    grid-column-start: 1;
    grid-column-end: 10;
    background-color: rgb(0, 174, 255);
    margin-top: 7%;
    display: inline;
    text-align: center;
    padding-top: 1%;
}

.linksfooter{
    color: white;
}

::-webkit-scrollbar{
    width: 0.5rem;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(92, 92, 92);

}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(195, 195, 195);
}

main:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: main 1.5s backwards;
}

#a0:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: a0 1.5s backwards;
}

#a1:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: a1 1.5s backwards;
}

#a2:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: a2 1.5s backwards;
}

#a3:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: a2 1.5s backwards;
}

#a4:hover{
    box-shadow: inset 0px -6px 20px 0px black;
    animation: a4 1.5s backwards;
}

#nublado:hover{
    width: 300px;
    animation: main 1.5s backwards;
}

#cidade:hover{
    font-size: 140%;
}

@keyframes main {
    from{
        background-size: 1000px;
    }

    to{
        background-size: 1050px;
    }
}

@keyframes a0 {
    from{
        background-size: 620px;
    }

    to{
        background-size: 650px;
    }
}

@keyframes a1 {
    from{
        background-size: 620px;
    }

    to{
        background-size: 680px;
    }
}

@keyframes a2{
    from{
        background-size: 620px;
    }

    to{
        background-size: 650px;
    }
}

@keyframes a3 {
    from{
        background-size: 1000px;
    }

    to{
        background-size: 1050px;
    }
}

@keyframes a4{
    from{
        background-size: 300px;
    }

    to{
        background-size: 320px;
    }
}

@keyframes nublado {
    from{
        width: 200px;
    }

    to{
        width: 300px;
    }
}