*{margin: 0; padding: 0;}

body{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12vh;
    width: 100%;
    font-size: 1.5em;

}

header{
    grid-column-start: 1;
    grid-column-end: 10;
    background-color: rgb(185, 185, 185);
    text-align: right;
}

#logo{
    margin-right: 22%;
    margin-top: 1%;
}

#pesquisa{
    margin-top: 4%;
    padding: 5px;
}

main{
    grid-column-start: 2;
    grid-column-end: 9;
    margin-top: 7%;
    text-align: justify;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 7%;
}

h2{
    background-color: rgb(134, 0, 0);
    color: white;
    margin-bottom: 5%;
}

.caixa{
    margin-bottom: 7%;
}


#image1{
    float: right;
    margin-left: 1%;
}

#image2{
    float: left;
    margin-right: 1%;
}

#image3{
    float: right;
    margin-left: 1%;
}

footer{
    background-color: rgb(185, 185, 185);
    grid-column-start: 1;
    grid-column-end: 10;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 90%;
}

#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    display: block;
    border-radius: 5px;
    transition: 0.4s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav li a{
    color: black;
    text-decoration: none;
}

.nav li a:hover{
    font-weight: bold;
}

.nav li{
    list-style: none;
    padding: 16px 0;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.4s ease;
    display: none;
    font-family: 'Sarabun', sans-serif;
}

.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: fixed;
}

.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0px 20px 20px;
    background: radial-gradient(circle, rgb(209, 209, 209), rgb(185, 185, 185));
    border-radius: 5%;
    transition: 0.4s ease;
}

#menu-bar{
    z-index: 2;
}

.change-bg{
    width: 550px;
    height: 1700px;
    transform: translate(-60%,-30% );
}

.change.bar{
    background-color: white;
}

.change #bar1{
    transform: translateY(4px) rotatez(-45deg);
}

.change #bar3{
    transform: translateY(-6px)rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: block;
}
.test{
    overflow: scroll;
    height: 150px;
}

